asaas_whatsapp_automation.json
{
  "name": "Maori Saude - Funil 100% Automático FINAL BLINDADO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f90fa9z-asaas-payment",
        "options": {}
      },
      "id": "1",
      "name": "Asaas Webhook (Pago)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "={{ \"leads\" }}",
        "updateKey": "={{ \"email\" }}",
        "values": {
          "fields": [
            {
              "name": "status",
              "value": "Pago"
            }
          ]
        },
        "additionalFields": {
          "where": {
            "conditions": [
              {
                "column": "={{ \"email\" }}",
                "value": "={{ $node[\"Asaas Webhook (Pago)\"].json.payment.customerEmail }}"
              }
            ]
          }
        }
      },
      "id": "2",
      "name": "Marcar como Pago no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const total = $node[\"Asaas Webhook (Pago)\"].json.payment.value;\nconst data = $json;\nconst plano = data.plano_escolhido || \"Mounjaro\";\nconst temReceita = data.tem_receita || \"nao\";\nlet msg = `🎉 Ola! Recebemos seu pagamento de R$ ${total.toFixed(2)} referente ao ${plano}.\\n\\n`;\nif (temReceita === 'sim') {\n  msg += \"✅ Verificamos que voce ja enviou sua receita medica. Perfeito! Nosso time ja iniciou a preparaçao do seu protocolo e em breve te enviamos o codigo de rastreio por aqui.\";\n} else {\n  msg += \"🩺 Nosso time medico ja esta analisando o seu questionario de saude. Fique atento por aqui, pois em breve te enviaremos as proximas instrucoes para o seu tratamento!\";\n}\nreturn { message: msg, phone: $node[\"Asaas Webhook (Pago)\"].json.payment.customerPhone };"
      },
      "id": "3",
      "name": "Logica da Mensagem Inteligente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zpro-akin.uazapi.com/message/sendText/Maori Vendas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "6PWP3HssL9e3hH8ZP8baTcOAyj71DlDH7XBzZsubPmOPZEKMPF"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 1200, \"presence\": \"composing\" },\n  \"textMessage\": { \"text\": \"{{ $json.message }}\" }\n}",
        "options": {}
      },
      "id": "4",
      "name": "Disparar WhatsApp (Uazapi)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Asaas Webhook (Pago)": {
      "main": [[{ "node": "Marcar como Pago no Supabase", "type": "main", "index": 0 }]]
    },
    "Marcar como Pago no Supabase": {
      "main": [[{ "node": "Logica da Mensagem Inteligente", "type": "main", "index": 0 }]]
    },
    "Logica da Mensagem Inteligente": {
      "main": [[{ "node": "Disparar WhatsApp (Uazapi)", "type": "main", "index": 0 }]]
    }
  }
}
