asaas_n8n_flow.json
{
  "name": "Checkout Asaas (Maori Saúde) - Compatível",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-checkout-asaas",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook do Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjNjMmI1MWQ1LTc0ZDctNDY2OS05ZmM2LWYzNzEzNWE3MGEyYzo6JGFhY2hfYzU1MGNkOTEtYzM1ZS00MDhiLWE1NDItNWI2NjhjODI4YzRj"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.body.name }}\",\n  \"email\": \"{{ $json.body.email }}\",\n  \"phone\": \"{{ $json.body.phone }}\"\n}",
        "options": {}
      },
      "id": "2",
      "name": "1. Criar Cliente (Asaas)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjNjMmI1MWQ1LTc0ZDctNDY2OS05ZmM2LWYzNzEzNWE3MGEyYzo6JGFhY2hfYzU1MGNkOTEtYzM1ZS00MDhiLWE1NDItNWI2NjhjODI4YzRj"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer\": \"{{ $json.id }}\",\n  \"billingType\": \"UNDEFINED\",\n  \"value\": {{ $('Webhook do Site').item.json.body.value }},\n  \"dueDate\": \"{{ $now.plus(1, 'day').toFormat('yyyy-MM-dd') }}\",\n  \"redirectUrl\": \"https://maorisaude.com.br\"\n}",
        "options": {}
      },
      "id": "3",
      "name": "2. Criar Cobrança e Link (Asaas)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "checkoutUrl",
              "value": "https://asaas.com/checkoutSession/show?id={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "3. Retornar URL pro Site",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Webhook do Site": {
      "main": [
        [
          {
            "node": "1. Criar Cliente (Asaas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Criar Cliente (Asaas)": {
      "main": [
        [
          {
            "node": "2. Criar Cobrança e Link (Asaas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Criar Cobrança e Link (Asaas)": {
      "main": [
        [
          {
            "node": "3. Retornar URL pro Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}